{% extends "./index.html" %}
{% block titulo %}
Inventario Respuestos
{% endblock %}

{% block contenido %}

<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="display-2 text-center">Inventario</h3>
            
            <br>
            <br>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Serie</th>
                        <th>Stock</th>
                        <th>Adquisicion</th>
                        <th>Almacen</th>
                        <th>Categoria</th>
                        <th>Proveedor</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                 {% for gestion in productos %}
                    <tr>
                        
                        <td>{{gestion[0]}}</td>
                        <td>{{gestion[1]}}</td>
                        <td>{{gestion[2]}}</td>
                        <td>{{gestion[3]}}</td>
                        <td>{{gestion[4]}}</td>
                        <td>{{gestion[5]}}</td>
                        <td>{{gestion[6]}}</td>
                        <td>{{gestion[7]}}</td>
                        <td>{{gestion[8]}}</td>
                        <td>
                            <a href="{{url_for('editar_inventario', id = gestion[0])}}" class="btn btn-info">Editar</a>
                        </td>
                        <td>
                            <form action="{{url_for('eliminar_inventario')}}" method="POST">
                                <input type="hidden" name="id" value="{{gestion[0]}}">
                                <button class="btn btn-dark">Eliminar</button>
                            </form>
                            

                        </td>
                    </tr>
                 {% endfor %}
                    
                </tbody>
            </table>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <a href="{{url_for('form_inventario')}}" class="btn btn-primary" role="button">Agregar Producto</a>
            </div>
            
        </div>
    </div>
</section>

{% endblock %}